*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html{
    background-color:#6EA4BF;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; */
    padding-bottom:100px;

}

img{
    max-width: 100%;
    /* width: 200px; */
    height:300px;
    margin-top: 20px;
    /* margin-left: 20%; */
}

.main{
    flex: 1 0 auto;
}



.header {
    display:flex;
    background-color:#1C3144;
    border: 5px #6EA4BF solid;
}

.header__title{
    color:#FBFEF9; 
    padding: 2px;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 12px;
    margin-top: 5px;
}

.header__menu-item{
    display: inline-block;
    list-style:none;
    text-decoration:none;
    margin-left:10px;
    padding-left:4px;
}


.header__menu-item a{
    text-decoration: none; 
    color:#FBFEF9;
    font-size: 12px;
    margin-left:9.5px;
}

.navigate{
    display:flex;
}

.fa{
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    display:flex;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    /* background: #3B5998; */
    color: white;
}

.fa-linkedin{
    /* background-color:#0078BB; */
    color: white;
}

.fa-github{
    /* background-color: white; */
    color:white;

}

.social_media_links{
    display:flex;
    list-style:none;
    border: 1px solid;
    justify-content: center;
    background-color:#1C3144;

}


footer{
    /* display:flex; */
    flex-shrink: 0;
    margin-top:64px;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}

.project-1-link{
    display:inline-block;
}

.project-2-link{
    display:inline-block;
}

.project-1-link a{
    text-decoration:none;
    color:#FBFEF9;
}

.project-2-link a{
    text-decoration:none;
    color:#FBFEF9;
}
